<ion-header>
  <ion-toolbar color="success">
    <ion-title>Add new item</ion-title>
    <ion-buttons slot="primary">
   <ion-button fill="solid" color="success">
    <ion-icon name="close"></ion-icon>
</ion-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-item >
  <ion-label position="floating">Name</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Description</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>
<ion-item>
  <ion-label position="floating">Place</ion-label>
  <ion-input></ion-input>
</ion-item>
 <ion-button color="success" expand="full" >Add new Item</ion-button>
</ion-content>
