<ion-header>
  <ion-toolbar color="success">
  	 <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
   
    <ion-title>Detail Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-card>
		<img src="assets/kuala-lumpur.jpg.jpg"/>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>Placeholder for item name</ion-label>
    <p>This is the place</p>
  </ion-item>

  <ion-card-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    
  </ion-card-content>


 
</ion-card>


</ion-content>
